*.dep
gxota/src/main
*.lo
*.la
cscope.*
tags
*.taghl
*.o
*.elf
*.d
*.swp
*.txt
*.swo
*.img
*.dat
!*.bin
development/flash
development/app/deps
development/app/ecos/
development/theme/SD/image/image.xml
development/app/libapp.a
gxapp_common/deps
gxapp_common/libappcommon.a
!csky-ecos/lib/vectors.o
!csky-ecos/lib/extras.o
*.swn
*.swm
*.swk
